CHANNEL_ID: "XXX"
CHANNEL_SECRET: XXX
LINE_USER_ID: XXX
CHANNEL_ACCESS_TOKEN: XXX
GCP_PROJECT_ID: XXXX
VERTEX_AGENT_ID: XXXX
VERTEX_AGENT_LOCATION: global
VERTEX_SEARCH_ID: XXX
VERTEX_SEARCH_LOCATION: global
GCS_BUCKET_STORAGE: XXXX